
.scroll {

    max-height: 80vh;

    @media (max-width: 1160px) {
        max-height: 30vh;
    }
    overflow: scroll !important;
    padding: 10px;
    background-color: #F1F1F1;
    border-radius: 24px;
}